/********************* concerne l' aniamation des cartes sur les pages "restaurant" *************
**********************************************************************************************/

// *****************declaration des mixin*********************/

// concerne les cartes 
@mixin display-card-start($Y:5%){
    
    transform: translateY($Y);
}

@mixin display-card-end(){
    transform: translateY(0%);
   
}


//  concerne le choix du menu
@mixin display-food-start($Y:25%){
    
    transform: translateY($Y);
}

@mixin display-food-end(){
    
    transform: translateY(0%);
}



/***** declaration des keyframe concernant l animation des cartes   ***********/

@keyframes display-card{
    0%{
        @include display-card-start();
    }
    100%{
        @include display-card-end();
    }
}

@keyframes display-food{
    0%{
        @include display-food-start();
    }
    100%{
        @include display-food-end();
    }
}


#page-restaurant{

    

    .animation-food-1{

        animation: display-food 0.3s ease 0.2s 1 normal both;

    }
    .animation-food-2{

        animation: display-food 0.3s ease 0.3s 1 normal both;

    }
    .animation-food-3{

        animation: display-food 0.3s ease 0.4s 1 normal both;

    }
    .animation-food-4{

        animation: display-food 0.3s ease 0.5s 1 normal both;

    }
}

    
