/********************* concerne l' aniamation des coeurs-favoris page "accueil" et "retaurant" *************
*****************************************************************************************************************/

/**** page "accueil" ****/

.accueil{

    .cont-svg-heart{

        position: absolute;
        right: 20px;
        bottom: 10px;

        height: 40px;                   
        width: 40px; 
        
        
        .svg-heart{

            position: absolute;
            top: 0px;
            left: 0px;
            
            fill:transparent;
            stroke-width:6px;
            stroke: black;
            
        }

        .svg-heart-bg{

            stroke: none;
            z-index: 1;
            transform-origin: 50% 90%;
            transform:  scale(0);
            transition: transform 0.3s ease 0S;
            
            

        }


    }

    .cont-svg-heart:hover > .svg-heart-bg{
        transform:  scale(1);
    }
}

/*** pages "restaurant" *****/

#page-restaurant{

    .cont-svg-heart{

        position: relative;
        
        height: 40px;                   
        width: 40px; 
        
        
        .svg-heart{

            position: absolute;
            top: 0px;
            left: 0px;
            
            fill:transparent;
            stroke-width:6px;
            stroke: black;
            
        }

        .svg-heart-bg{

            stroke: none;
            z-index: 1;
            transform-origin: 50% 90%;
            transform:  scale(0);
            transition: transform 0.3s ease 0S;
            
            

        }


    }

    .cont-svg-heart:hover > .svg-heart-bg{
        transform:  scale(1);
    }
}

/****** commu a toute les pages ******/
    
#stop2{
    stop-color: $primaire-color;
        
}

#stop1{
    stop-color: $secondaire-color;
    
}





