@-webkit-keyframes anim-logo {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.9, 1.9);
            transform: scale(1.9, 1.9);
  }
}

@keyframes anim-logo {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.9, 1.9);
            transform: scale(1.9, 1.9);
  }
}

@-webkit-keyframes anim-ring {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(1turn);
            transform: rotateZ(1turn);
  }
}

@keyframes anim-ring {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(1turn);
            transform: rotateZ(1turn);
  }
}

@-webkit-keyframes anim-text {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim-text {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes anim-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anim-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 50px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 2px solid green;
  -webkit-animation: anim-container 3s ease-in-out 0s normal 1 forwards;
          animation: anim-container 3s ease-in-out 0s normal 1 forwards;
}

.ring {
  width: 30vw;
  height: 30vw;
  border: 40px solid #9356dc;
  border-radius: 100%;
  border-top: 20px dotted #99d2d0;
  border-right: 20px solid #ff79da;
  -webkit-animation: anim-ring 1s ease-in-out 0s alternate 2 both;
          animation: anim-ring 1s ease-in-out 0s alternate 2 both;
}

.svg {
  position: absolute;
  width: 196px;
  height: 34px;
  -webkit-animation: anim-logo 1s linear 0s alternate 2 both;
          animation: anim-logo 1s linear 0s alternate 2 both;
}

.text {
  position: absolute;
  bottom: 20%;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: 300;
  color: #99d2d0;
}
