/**************************************************************
************ concerne le footer des pages "OHMYFOOD" **********
***************************************************************/

.footer{
    width: 100%;
    padding: 20px;
    background-color: var(--background-color-footer);
}

.footer-menu{
    
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-menu-li{
     
    margin: 5px 0px;

}

.footer-menu-li-link{
    color: white;
}

.footer-svg-logo{
    width: 100px;
    height: 30px;
    fill: var(--background-color-white);
}

.size-icon{
    width: 16px;
    height: 16px;
}

.color-white{
    color: white;
}


