
/************* header pour page acceuil *****************/
.menu{

    
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
  
}

.menu-li{
    width: 50%;
    padding: 20px 0px;

}

.menu-logo{
    width: 100%;
    height: 100%;
}

/*****************header pour page restaurant **********************/

.menu-restaurant{
    width:100%;
    height:100px;

    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.menu-restaurant-li{
    flex: auto;
    height: 100%;
    padding: 20px 0px;
   

    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;

    border: 2px solid red;

}

.menu-restaurant-li a{
    flex: 0 1 300px;
    border: 2px solid orange;
}

.menu-restaurant-logo{
    display: block;
    width: 100%;
    border: 2px solid green;
  
}

.icon-arrow{
    font-size: 30px;
}