/**************************************************************************************
/******************* concerne les composants du site "ohmyfood" ************************
***************************************************************************************/

/*** bouton "commander" et "explorer"***/

.button-cta{
    margin-top: 40px;
    padding: 15px ;
    font-size: 16px;
    color:$font-color-white;
    width:70%;
    border: none;
    opacity: 1;
   

    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;

    background: linear-gradient(-10deg, $primaire-color 10%, $secondaire-color 100% ) ;
    box-shadow: $boxshadow-button;

    transition: transform 0.2s ease-in-out  0s, opacity 0.2s ease-in-out  0s;

    &:hover{
            box-shadow: $boxshadow-darken-button;
            opacity:(0.8);
            
            
    }

      
}




