/************************************ OHMYFOOD **********************************************
*************** *****proprietes communes aux pages OHMYFOOD ***********************
*******************************************************************************************/


/*** reset personnel de la page *****/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}


/**** ************variables***********  *******/

/*** police des titres ***/
$police-titre: "Shrikhand, sans-serif";

/*** couleur du theme ***/

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;

/*** couleur police ***/
$color-font-new:rgb(19,126,98);
$font-color-defaut : black;
$font-color-white: white;

/**** couleur de fond ***/

$background-color-search: rgba(121, 118, 118, 0.2);
$darken-background-color-search: rgba(121, 118, 118, 0.5);

$background-color-main: #F6F6F6;


$background-color-white: #FFFFFF;
$background-color-footer: #404040;

/*** couleur ombrage ***/

$boxshadow-search: 0px -2px 2px 0px $darken-background-color-search ;

$boxshadow-button: 2px 2px 2px 2px rgba( 0, 0, 0, 0.4);
$boxshadow-darken-button: 2px 2px 2px 2px rgba( 0, 0, 0, 0.8);

$boxshadow-card:2px 2px 2px 2px $background-color-main;






/*** breakpoint pour le responsive ***/
$breakpoint-hight : 992px;
$breakpoint-low: 768px;




/*** conteneur global de la page  ***/

.container-global-sheet{
    max-width: 1200px;
    margin: 0px auto;
        
}

/**** concerne les balises titres <h1> ***/

.title-h1{

    font-size: 25px;
    font-weight:900;
}

.color-white{
    color: $background-color-white;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.hiden{
    display:none;
}

.absolute{
    position:absolute;
    
}