/**************************************************************
************ concerne le footer des pages "OHMYFOOD" **********
***************************************************************/

.footer{
    
    width: 100%;
    padding: 20px;
    background-color: $background-color-footer;

    border: 2px solid green;

    a{
        color:$font-color-white;
        
        
    }

    svg{
        transform: translateX(-30px) scale(0.8) ;
        fill: $font-color-white;
        
        
    }

    .lien-svg{
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }


    .menu{
    
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 10px;
    
        &__li{

            margin: 5px 0px;

                &__icon{
                    width: 16px;
                    height: 16px;
                   
            }
        }

    }
}





