

/*******************************************************************
/*****************header pour le site "homyfood" ********************
********************************************************************/


.header{


    nav{

        .menu{
            position:relative;
            width:100%;
            height:70px;

            
            @media screen and (min-width:768px) and (max-width:992px) {

                height: 120px;
                                 
            }

            @media screen and (min-width:992px) {

                height: 160px;
                                
            }



            &__lien-icon{

                position:absolute;
                top:50%;
                left: 20px;
                transform:translateY(-50%);
                color: $font-color-defaut;
                font-size: 20px;
                


                @media screen and (min-width:768px) and (max-width:992px) {

                    font-size: 40px;
                    
                }

                @media screen and (min-width:992px) {

                    font-size: 60px;
                    
                }
                        
                       
            }     

            &__lien-logo{
                
                              
                position:absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
               
                
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                
                
                
                &__svg{

                    transform: scale(1);
                    

                    @media screen and (min-width:768px) and (max-width:992px) {

                    transform: scale(2);
                       
                    }

                    @media screen and (min-width:992px) {

                    transform:  scale(3);                    
                    
                    }                                 
                   
                }
            }

            

        }
    }
}

    
    

 
