/**************************************************************************
********concerne le style de la page ohmyfood-restaurant **********
**************************************************************************/

#page-restaurant{
    /** concerne le positionnement et l' animation de l' icon "favoris-coeur"  ***/

    .svg-heart{

        height: 30px;                   
        width: 30px;
        
        fill-opacity: 0;

        stroke-width: 1px;
        stroke:black;
        
        transition-property: fill-opacity, stroke-opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.3s;

        &:hover{
        
            fill-opacity: 1;
            
            transition-delay: 0s;
        
        }
    }



    

    
}

#stop2{
    stop-color: $primaire-color;
        
}

#stop1{
    stop-color: $secondaire-color;
    
}