/*************************************************************************************
***************** concerne la partie "main" des pages restaurant**********************
**************************************************************************************/



/**** concerne la section "menu-restaurant"  ********/
/****************************************************/

#page-restaurant{


    .container-menu{
        
        
        margin-top: -40px;
        width: 100%;
        padding: 40px 0px;
        background-color: $background-color-main;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

            &__cont{

                width:90%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

               
                &__titre{
                    flex: 1 1 80%;
                    max-width: 80%;
                    font-size: 25px;
                    font-family: "Shrikhand";
                    
                    
                }
                
                

            }

        /****** conteneur qui contient les trois cartes (entree, plats, dessert) *****/

        .form{
            width:100%;
            padding:40px 0px ;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
        }

        //****** creation des trois cartes contenant entree, plat desert *******/

        //*** liste contenant les selecteurs des trois cartes *****/
        $card-type : entree, plat, dessert;


        //**** a chaque iteration de la boucle un selecteur specifique est creer pour chaque carte***/
        @each $var in $card-type {
            
            /*** carte-#{$var} ***/
            .card-#{$var}{

                width:100%;
                padding: 0px 15px;
                
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 30px;
                
                /****** 768px < screen < 992px  ****/
                @media screen and (min-width: 768px) and (max-width:992px) {
                    width: 50%;
                }

                /******** screen > 992px  ****/
                @media screen and (min-width: 992px) {
                    width: 60%;
                }


                &__titre{
                    font-size: 20px;
                    text-transform: uppercase;

                }

                &__underline{
                    width:50px;
                    margin-top: 6px;
                    height: 0px;
                    border: 2px solid $tertiaire-color;

                }

            

                &__label{

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    width:100%;
                    height: 60px;
                    margin: 10px 0px;
                    border-radius: 10px;
                    background-color: $background-color-white;
                    overflow: hidden;
                    

                    
                    &__info{
                        flex: auto;
                        max-width: 100%;
                        min-width: 80%;
                        

                        
                        height: 100%;
                        padding-left: 10px;
                        font-weight: bold;
                        font-size: 16px;
                        
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-start;

                        &__title{
                            height:fit-content;
                        }
                        
                        &__cont{

                            
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: flex-end;
                            width:100%;
                            

                        
                            &--weight{
                                
                                flex: auto;
                                max-width: 80%;
                                                              
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-weight: normal;

                               
                                
                            }

                            &__price{
                                flex: 0 0 auto;
                                max-width:20%;

                                margin-right: 10px;                  
                                font-weight: bold;
                                
                                
                            }
                        }
                    }
                        
                    

                    &__valid{

                        flex:  0 0 0%;
                        height: 100%;
                        background-color:$tertiaire-color;
                        overflow: hidden;
                            
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;

                        transition: flex 0.3s ease-in-out ;

                        &__icon-check{

                            font-size: 25px;
                            color: $font-color-white;
                            transform:  translateX(100px);
                            transition: transform 0.5s ease-in-out;
                            
                        }
                        
                    }

                }   
                    
            

                &__checkbox{

                    display:none;
                    

                        &:checked + .card-#{$var}__label > .card-#{$var}__label__valid {

                            flex: 0 0 20%;
                            
                            
                        }

                        &:checked + .card-#{$var}__label > .card-#{$var}__label__valid > .card-#{$var}__label__valid__icon-check{
                            transform: translateX(0px) rotateZ(1turn); 
                        }
                }    
            }   
        
        
        }
        

    }
}